.submit{
    margin-left:800px;
    margin-bottom:100px;
    
}

.form{
    margin-top:100px;
}

.class{
    width:400px;
    height: 50px;
    margin-left:800px;
    margin-top:10px;
}

.class1{
    height: 350px;
}

.DayPicker {
    /*margin-top:20px;*/
    margin-left: 80px;
    font-size:15px;
    /*width: 10%;*/
}
  
.input{
    margin-left:0px;
    margin-top:10px;
}

label{
    margin-top :20px;
}
.button5
{
    margin-top:20px;
    height: 35px;
    width: 10%;
    color: white;
    background-color: rgb(71, 104, 148);
}

.button6{
    margin-left: 50px;
    height: 35px;
    width: 10%;
    color: white;
    background-color: rgb(71, 104, 148);
}