.input{
  margin-left:0px;
  margin-top:10px;
}

label{
  margin-top :20px;
}

.color-picker-container {
  position: relative;
}
.color-picker-palette {
  position: absolute;
  z-index: 100;
}

.color-picker-cover {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.color-picker-color-background {
  position: fixed;
  height: 35px;
  width: 35px;
  background-color: #999999;
  float: left;
}

.button1
{
  margin-top:20px;
  height: 35px;
  width: 10%;
  color: white;
  background-color: rgb(71, 104, 148);

}

.button2
{
  margin-left: 50px;
  height: 35px;
  width: 10%;
  color: white;
  background-color: rgb(71, 104, 148);
}
