.input{
    margin-left:0px;
    margin-top:10px;
}

label{
    margin-top :20px;
}

.button3
{
    margin-top:5%;
    height: 35px;
    width: 10%;
    color: white;
    background-color: rgb(71, 104, 148);

}
.button4{

    margin-left: 50px;
    height: 35px;
    width: 10%;
    color: white;
    background-color: rgb(71, 104, 148);
}